{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href={% url 'posts:main_page' %}>
      <img src="{% static 'img/fav/favicon-32x32.png' %}">
      <span style="color:red">Ya</span>tube</a>
      <ul class="nav nav-pills">
        {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item"> 
            <a class="nav-link" {% if view_name  == 'about:author' %}active{% endif %}
              href="{% url 'about:author' %}">
                Об авторе
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" {% if view_name  == 'about:tech' %}active{% endif %} href="{% url 'about:tech' %}">Технологии</a>
          </li>
          {% if user.is_authenticated %}
            <a href='{% url 'users:password_reset' %}'Сбросить пароль</a>
            <li class="nav-item"> 
              <a class="nav-link" href="{% url 'posts:post_create' %}">Новая запись</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" {% if view_name  == 'users:password_reset' %}active{% endif %} href="{% url 'users:password_reset' %}">Изменить пароль</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" {% if view_name  == 'users:logout' %}active{% endif %} href="{% url 'users:logout' %}">Выйти</a>
            </li>
            <li class="nav-item"> 
              Пользователь:<a class="nav-link link-light" href="{% url 'posts:profile' user.username%}">{{ user.username }}</a>
            </li>
          {% else %}
            <li class="nav-item"> 
              <a class="nav-link link-light" {% if view_name  == 'users:login' %}active{% endif %} href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" {% if view_name  == 'users:login' %}active{% endif %}href="{% url 'users:signup' %}">Регистрация</a>
            </li>
          {% endif %}
        {% endwith %}
      </ul>
    </a>
  </div>
</nav>      
