{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Hello, my name is Kirill</h1>
<p>
  https://github.com/Karmadoo
  Тут я размещу информацию о себе используя свои умения верстать, но позже.
  Картинки, блоки, элементы бустрап. Все это очень интересно б но нет времени,
  просто напишу несколько абзацев текста. 
  
  Yabba daba doo!!
  I learning Python.
  And I really like it! I believe I will be a good developer, but now it’s my first lines in code.
  Unfortunately, it’s only 24 hours in a day)
  Many thanks to my family for supporting!!

</p>
{% endblock %} 